#topbar {
    width :100% !important;
    margin: 0 auto;
    height:26px;
    margin-left: 10%;
}
body {
    font-family: Arial,Helvetica,freesans,sans-serif;
}

.sign-In {
    float: right;
    border-left: none;
    height: 136%;
    margin: 13px -4px;
    top: -57px;
    position: relative;
    border-right: 1px #CCCCCC solid;
    width: 173px;
}
#view {
    height: 74% !important;
    width: 96% !important;
    margin-left: 2% !important;
}
.signInfont {
    font-family: Arial,Helvetica,freesans,sans-serif;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    top: 8px;
}
.tabs {
    top: 77%;
    cursor: pointer;
    position: relative;
    border-right: 1px #CCCCCC solid !important;
    border-top: 1px #CCCCCC solid !important;
    height: 136%;
    float: left;
    width: 8% !important;
    margin-left: 2%;
    border-left: 1px #CCCCCC solid !important;
}
.tabsfont {
    font-family: Arial,Helvetica,freesans,sans-serif;
    /* float: right; */
    font-weight: 600;
    font-size: 14px;
    position: relative;
    top: 11px;
    margin-right: 12px;
    margin-left: 12px;
}
h1 {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: normal;
    padding-top: 6px;
    position: relative;
    left: -19.7%;
}

.ui-body-c .ui-link:hover {
    color: black;
}

#lowerPanel {
    margin-left: 41% !important;
    margin-top: 1%;
}
